html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  /* 62.5% of 16px = 10px */
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes genericRotating {
  0% {
    transform: rotate(calc(0deg + calc(var(--offsetFactor) * var(--offsetDegree)))) translate(0px, 128px) rotate(calc(0deg - calc(var(--offsetFactor) * var(--offsetDegree))));
  }

  100% {
    transform: rotate(calc(360deg + calc(var(--offsetFactor) * var(--offsetDegree)))) translate(0px, 128px) rotate(calc(-360deg - calc(var(--offsetFactor) * var(--offsetDegree))));
  }
}

@keyframes tetromino-blink {
  0% {
    filter: none;
  }

  20% {
    filter: brightness(2) grayscale(0.5);
    background: #fff;
  }

  60% {
    filter: brightness(2) grayscale(0.5);
    background: #fff;
  }

  100% {
    filter: none;
  }
}

.tetromino-cell-blink {
  animation: tetromino-blink 0.4s ease-in-out;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.yellow {
  background: yellow;
}